Import Libraries

In [21]:
import os
import csv
import json
import shutil
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

Get the csv files from label studio. Read all the csv files that we have. We are going to combine all of them

In [22]:
df1 = pd.read_csv("user_ga24251.csv")
df2 = pd.read_csv("user_gs75572.csv")
df3 = pd.read_csv("user_gs75588.csv")
df4 = pd.read_csv("user_gs75589.csv")

In [3]:
df1.shape

(91, 9)

In [4]:
df2.shape

(47, 9)

In [5]:
df3.shape

(40, 9)

In [6]:
df4.shape

(80, 9)

concat in pandas merges 2 dataframes

In [7]:
df = pd.concat([df1, df2, df3, df4], ignore_index=True)
df.shape

(258, 9)

40 observations from df1 and 67 observations from df2 makes 107 observation in total after concatenation

head is a function of dataframe used toview certain numbers of observation

In [18]:
csv = pd.read_csv("csv1.csv")

In [19]:
csv.head()

,annotation_id,annotator,created_at,id,image,label,lead_time,updated_at
0,729,1,2023-06-25T20:40:19.985689Z,1124,/data/upload/15/15fe0e8e-3614.jpg,"[{""x"":1.3473053892215578,""y"":11.17764471057884...",16.452,2023-06-25T20:40:19.985716Z
1,730,1,2023-06-25T20:40:32.894975Z,1125,/data/upload/15/947e2d0f-3615.jpg,"[{""x"":5.276946107784431,""y"":11.177644710578845...",11.278,2023-06-25T20:40:32.895002Z
2,731,1,2023-06-25T20:40:45.115771Z,1126,/data/upload/15/3efa7d55-3616.jpg,"[{""x"":10.66616766467066,""y"":10.179640718562874...",10.231,2023-06-25T20:40:45.115803Z
3,732,1,2023-06-25T20:40:55.175976Z,1127,/data/upload/15/c722860e-3617.jpg,"[{""x"":14.595808383233532,""y"":9.580838323353294...",8.473,2023-06-25T20:40:55.176002Z
4,733,1,2023-06-25T20:41:05.709348Z,1128,/data/upload/15/c27ff533-3618.jpg,"[{""x"":20.209580838323355,""y"":10.17964071856287...",9.265,2023-06-25T20:41:05.709374Z

In [20]:
df["label"]

0      [{'x': 44.50672645739912, 'y': 22.915411406365...
1      [{'x': 44.843049327354265, 'y': 24.71350274040...
2      [{'x': 45.06726457399103, 'y': 23.916292974588...
3      [{'x': 45.06726457399103, 'y': 23.916292974588...
4      [{'x': 44.843049327354265, 'y': 23.91629297458...
                             ...
253    [{"x":39.06844106463878,"y":28.052386987748207...
254    [{"x":38.11787072243346,"y":28.052386987748207...
255    [{"x":39.06844106463878,"y":27.714406421630756...
256    [{"x":42.11026615969582,"y":25.686523024926068...
257    [{"x":42.585551330798474,"y":24.84157160963244...
Name: label, Length: 258, dtype: object

In [8]:
df.head()

,Unnamed: 0,annotation_id,annotator,created_at,id,image,label,lead_time,updated_at
0,0,1,1,2023-07-21T15:08:37.698702Z,1,ga24251_Frame_2.jpg,"[{""x"":44.50672645739912,""y"":22.915411406365717...",118.321,2023-07-21T15:09:53.846573Z
1,1,2,1,2023-07-21T15:10:46.530373Z,2,ga24251_Frame_3.jpg,"[{""x"":44.843049327354265,""y"":24.71350274040857...",48.008,2023-07-21T15:10:46.530408Z
2,2,3,1,2023-07-21T15:11:13.649224Z,3,ga24251_Frame_4.jpg,"[{""x"":45.06726457399103,""y"":23.916292974588938...",26.660,2023-07-21T15:11:13.649261Z
3,3,4,1,2023-07-21T15:11:55.218090Z,4,ga24251_Frame_5.jpg,"[{""x"":45.06726457399103,""y"":23.916292974588938...",25.817,2023-07-21T15:11:55.218126Z
4,4,5,1,2023-07-21T15:12:21.450490Z,5,ga24251_Frame_6.jpg,"[{""x"":44.843049327354265,""y"":23.91629297458893...",25.794,2023-07-21T15:12:21.450529Z

we want only the name of the image so we split the image name from the whole directory paths in the column image

In [9]:
# df["image"] = df["image"].str.split("-").str[-1]

In the image column we only have filenames instead of whole path

In [10]:
df.head()

,Unnamed: 0,annotation_id,annotator,created_at,id,image,label,lead_time,updated_at
0,0,1,1,2023-07-21T15:08:37.698702Z,1,ga24251_Frame_2.jpg,"[{""x"":44.50672645739912,""y"":22.915411406365717...",118.321,2023-07-21T15:09:53.846573Z
1,1,2,1,2023-07-21T15:10:46.530373Z,2,ga24251_Frame_3.jpg,"[{""x"":44.843049327354265,""y"":24.71350274040857...",48.008,2023-07-21T15:10:46.530408Z
2,2,3,1,2023-07-21T15:11:13.649224Z,3,ga24251_Frame_4.jpg,"[{""x"":45.06726457399103,""y"":23.916292974588938...",26.660,2023-07-21T15:11:13.649261Z
3,3,4,1,2023-07-21T15:11:55.218090Z,4,ga24251_Frame_5.jpg,"[{""x"":45.06726457399103,""y"":23.916292974588938...",25.817,2023-07-21T15:11:55.218126Z
4,4,5,1,2023-07-21T15:12:21.450490Z,5,ga24251_Frame_6.jpg,"[{""x"":44.843049327354265,""y"":23.91629297458893...",25.794,2023-07-21T15:12:21.450529Z

In [11]:
df.drop(["updated_at", "lead_time"], axis=1, inplace=True)

In [12]:
df.head()

,Unnamed: 0,annotation_id,annotator,created_at,id,image,label
0,0,1,1,2023-07-21T15:08:37.698702Z,1,ga24251_Frame_2.jpg,"[{""x"":44.50672645739912,""y"":22.915411406365717..."
1,1,2,1,2023-07-21T15:10:46.530373Z,2,ga24251_Frame_3.jpg,"[{""x"":44.843049327354265,""y"":24.71350274040857..."
2,2,3,1,2023-07-21T15:11:13.649224Z,3,ga24251_Frame_4.jpg,"[{""x"":45.06726457399103,""y"":23.916292974588938..."
3,3,4,1,2023-07-21T15:11:55.218090Z,4,ga24251_Frame_5.jpg,"[{""x"":45.06726457399103,""y"":23.916292974588938..."
4,4,5,1,2023-07-21T15:12:21.450490Z,5,ga24251_Frame_6.jpg,"[{""x"":44.843049327354265,""y"":23.91629297458893..."

We now operate with the label column. In this case we have 2 labels in the image

In [13]:
df["label"][18], df["image"][18]

('[{"x":45.06726457399103,"y":18.33582461385152,"width":13.116591928251118,"height":18.33582461385152,"rotation":0,"rectanglelabels":["Right"],"original_width":1280,"original_height":720},{"x":76.68161434977578,"y":28.101644245142005,"width":4.4843049327354265,"height":6.377678126557051,"rotation":0,"rectanglelabels":["Stop"],"original_width":1280,"original_height":720}]',
 'ga24251_Frame_23.jpg')

In [14]:
string_to_code = {"Right":0, "Left":1, "Stop":2}
code_to_string = {0:"Right", 1:"Left", 2:"Stop"}

Changing text into json to extract key values easily

In [17]:
for row_idx in range(len(df)):
  text = df.iloc[row_idx]["label"]
  print("text", type(text))
  res = json.loads(text)
  df["label"].iloc[row_idx] = res

text <class 'list'>

TypeError: the JSON object must be str, bytes or bytearray, not list

In [ ]:
df.head()

atomicity, break the list in the label column

In [ ]:
df_exploded = df.explode('label')
df_exploded.reset_index(inplace=True)

In [ ]:
df_exploded.head()

In [17]:
len(df_exploded['label'].tolist())

134

In [18]:
df_exploded[['x', 'y','width', 'height', 'rotation','rectanglelabels','original_width', 'original_height']] = pd.DataFrame(df_exploded['label'].tolist())

In [19]:
df_exploded.head()

,index,annotation_id,annotator,created_at,id,image,label,x,y,width,height,rotation,rectanglelabels,original_width,original_height
0,0,729,1,2023-06-25T20:40:19.985689Z,1124,3614.jpg,"{'x': 1.3473053892215578, 'y': 11.177644710578...",1.347305,11.177645,10.441617,16.367265,0,[Stop],1280,720
1,1,730,1,2023-06-25T20:40:32.894975Z,1125,3615.jpg,"{'x': 5.276946107784431, 'y': 11.1776447105788...",5.276946,11.177645,10.890719,16.167665,0,[Stop],1280,720
2,2,731,1,2023-06-25T20:40:45.115771Z,1126,3616.jpg,"{'x': 10.66616766467066, 'y': 10.1796407185628...",10.666168,10.179641,11.339820,16.766467,0,[Stop],1280,720
3,3,732,1,2023-06-25T20:40:55.175976Z,1127,3617.jpg,"{'x': 14.595808383233532, 'y': 9.5808383233532...",14.595808,9.580838,11.564371,16.966068,0,[Stop],1280,720
4,4,733,1,2023-06-25T20:41:05.709348Z,1128,3618.jpg,"{'x': 20.209580838323355, 'y': 10.179640718562...",20.209581,10.179641,12.013473,16.566866,0,[Stop],1280,720

remove unwanted labels

In [20]:
df_exploded["label_dicts"] = df_exploded['label'].tolist()

take string from list

In [21]:
df_exploded["rectanglelabels"] = df_exploded["rectanglelabels"].str[0]

In [22]:
df_exploded = df_exploded.replace(string_to_code)

In [23]:
df_exploded.head()

,index,annotation_id,annotator,created_at,id,image,label,x,y,width,height,rotation,rectanglelabels,original_width,original_height,label_dicts
0,0,729,1,2023-06-25T20:40:19.985689Z,1124,3614.jpg,"{'x': 1.3473053892215578, 'y': 11.177644710578...",1.347305,11.177645,10.441617,16.367265,0,2,1280,720,"{'x': 1.3473053892215578, 'y': 11.177644710578..."
1,1,730,1,2023-06-25T20:40:32.894975Z,1125,3615.jpg,"{'x': 5.276946107784431, 'y': 11.1776447105788...",5.276946,11.177645,10.890719,16.167665,0,2,1280,720,"{'x': 5.276946107784431, 'y': 11.1776447105788..."
2,2,731,1,2023-06-25T20:40:45.115771Z,1126,3616.jpg,"{'x': 10.66616766467066, 'y': 10.1796407185628...",10.666168,10.179641,11.339820,16.766467,0,2,1280,720,"{'x': 10.66616766467066, 'y': 10.1796407185628..."
3,3,732,1,2023-06-25T20:40:55.175976Z,1127,3617.jpg,"{'x': 14.595808383233532, 'y': 9.5808383233532...",14.595808,9.580838,11.564371,16.966068,0,2,1280,720,"{'x': 14.595808383233532, 'y': 9.5808383233532..."
4,4,733,1,2023-06-25T20:41:05.709348Z,1128,3618.jpg,"{'x': 20.209580838323355, 'y': 10.179640718562...",20.209581,10.179641,12.013473,16.566866,0,2,1280,720,"{'x': 20.209580838323355, 'y': 10.179640718562..."

In [24]:
df_exploded.drop(["label","label_dicts"], axis=1, inplace=True)

In [25]:
df_exploded['x1'] = df_exploded['x'] + df_exploded['width']
df_exploded['y1'] = df_exploded['y'] + df_exploded['height']

In [26]:
df_exploded = df_exploded.drop_duplicates()

In [27]:
df_exploded['x'] = df_exploded['x']*(1280/100)
df_exploded['y'] = df_exploded['y']*(720/100)
df_exploded['x1'] = df_exploded['x1']*(1280/100)
df_exploded['y1'] = df_exploded['y1']*(720/100)

In [28]:
df_exploded.head()

,index,annotation_id,annotator,created_at,id,image,x,y,width,height,rotation,rectanglelabels,original_width,original_height,x1,y1
0,0,729,1,2023-06-25T20:40:19.985689Z,1124,3614.jpg,17.245509,80.479042,10.441617,16.367265,0,2,1280,720,150.898204,198.323353
1,1,730,1,2023-06-25T20:40:32.894975Z,1125,3615.jpg,67.544910,80.479042,10.890719,16.167665,0,2,1280,720,206.946108,196.886228
2,2,731,1,2023-06-25T20:40:45.115771Z,1126,3616.jpg,136.526946,73.293413,11.339820,16.766467,0,2,1280,720,281.676647,194.011976
3,3,732,1,2023-06-25T20:40:55.175976Z,1127,3617.jpg,186.826347,68.982036,11.564371,16.966068,0,2,1280,720,334.850299,191.137725
4,4,733,1,2023-06-25T20:41:05.709348Z,1128,3618.jpg,258.682635,73.293413,12.013473,16.566866,0,2,1280,720,412.455090,192.574850

Getting a new dataframe and choosing required columns to put in it

In [29]:
new_df = pd.DataFrame()

In [30]:
new_df[['image','x','y','x1','y1','labels']] = df_exploded[['image','x','y','x1','y1', 'rectanglelabels']]

In [31]:
new_df.head()

      image           x          y          x1          y1  labels
0  3614.jpg   17.245509  80.479042  150.898204  198.323353       2
1  3615.jpg   67.544910  80.479042  206.946108  196.886228       2
2  3616.jpg  136.526946  73.293413  281.676647  194.011976       2
3  3617.jpg  186.826347  68.982036  334.850299  191.137725       2
4  3618.jpg  258.682635  73.293413  412.455090  192.574850       2

In [32]:
new_df.isna().sum()

image     0
x         0
y         0
x1        0
y1        0
labels    0
dtype: int64

Renaming variables to convey meaning

In [33]:
print(new_df.image.unique())
print(new_df.x.unique())
print(new_df.y.unique())
print(new_df.x1.unique())
print(new_df.y1.unique())
print(new_df.labels.unique())

['3614.jpg' '3615.jpg' '3616.jpg' '3617.jpg' '3618.jpg' '3619.jpg'
 '3620.jpg' '3621.jpg' '3622.jpg' '3623.jpg' '3624.jpg' '3627.jpg'
 '3628.jpg' '3629.jpg' '3630.jpg' '3631.jpg' '3632.jpg' '3747.jpg'
 '3748.jpg' '3749.jpg' '3750.jpg' '3751.jpg' '3752.jpg' '3760.jpg'
 '3772.jpg' '3774.jpg' '3775.jpg' '3777.jpg' '3779.jpg' '3783.jpg'
 '3793.jpg' '3795.jpg' '3798.jpg' '3801.jpg' '3803.jpg' '3832.jpg'
 '3840.jpg' '3847.jpg' '3865.jpg' '3866.jpg' '657.jpg' '658.jpg' '660.jpg'
 '661.jpg' '662.jpg' '667.jpg' '668.jpg' '669.jpg' '670.jpg' '673.jpg'
 '674.jpg' '675.jpg' '676.jpg' '678.jpg' '680.jpg' '682.jpg' '692.jpg'
 '694.jpg' '697.jpg' '700.jpg' '708.jpg' '710.jpg' '734.jpg' '735.jpg'
 '737.jpg' '744.jpg' '751.jpg' '754.jpg' '757.jpg' '762.jpg' '763.jpg'
 '764.jpg' '765.jpg' '766.jpg' '767.jpg' '769.jpg' '770.jpg' '771.jpg'
 '772.jpg' '776.jpg' '778.jpg' '779.jpg' '780.jpg' '781.jpg' '782.jpg'
 '783.jpg' '784.jpg' '785.jpg' '786.jpg' '788.jpg' '790.jpg' '810.jpg'
 '811.jpg' '812.jpg' '813.jpg' '931.jpg' '932.jpg' '933.jpg' '945.jpg'
 '946.jpg' '947.jpg' '948.jpg' '949.jpg' '950.jpg' '951.jpg' '952.jpg'
 '953.jpg']
[  17.24550898   67.54491018  136.52694611  186.82634731  258.68263473
  333.41317365  431.13772455  461.31736527  494.37125749  490.05988024
  492.93413174  504.43113772  547.54491018  592.09580838  600.71856287
  592.09580838  613.65269461  682.63473054   15.80838323  658.20196666
    0.          651.01796407  636.64670659  655.33096747  671.13772455
  702.75449102  662.51497006  632.33478729  620.83832335  616.52694611
  610.77844311  593.53239208  607.90419162  605.02994012  593.53293413
  589.22155689  561.91616766   10.05988024   64.67065868  750.17964072
  663.95209581  227.06586826  774.61077844  740.11976048  800.47904192
   58.92323979  924.07185629  560.47904192  343.47468004  868.0239521
 1218.68263473  426.82797346  951.37778756  419.64234471  947.06749441
  418.20413486  945.62874251  419.64180266  947.06641031  445.50952409
  975.80946733  577.7245509  1106.58682635  615.09198856 1141.07838636
  639.52095808 1178.44419787  636.64670659 1187.06749441 1195.68970685
 1212.93413174  630.89820359 1224.43113772  638.08383234  635.20958084
  708.50299401  620.83832335  612.21556886  622.2754491   626.58682635
  571.9760479  1136.76646707  865.1497006   968.62275449  685.50898204
  686.94664983  390.89711949  688.38323353  390.89820359  643.83233533
  313.29341317  606.46706587  219.88023952  619.4011976   615.08982036
  583.47413799  648.14371257  658.20521896  629.46107784  629.46107784
  613.65269461  615.08982036  610.77844311  612.21502681  589.22155689
  564.79041916  560.47904192  594.97005988  594.97005988  590.65868263
  593.53293413  574.8502994   541.79640719  540.35928144  510.17964072
  626.58682635  679.76047904  694.13173653  655.32934132  668.2640151
  678.32335329  668.2640151 ]
[ 80.47904192  73.29341317  68.98203593  66.10778443  60.35928144
  38.80239521  48.86227545  40.23952096  37.36526946  17.24550898
  12.93413174   0.         159.52095808 198.32335329 168.14371257
 202.63473054 163.83233533 163.83233533 163.83233533 156.64670659
 149.46107784 130.77844311 129.34131737 127.90419162 122.15568862
  99.16167665  91.9760479   70.41916168  64.67065868  30.17964072
  10.05988024 186.82634731 186.82634731 208.38323353 194.01197605
 178.20359281 181.07784431 201.19760479 114.97005988 196.88622754
 166.70658683 123.59281437 163.83233533 199.76047904 169.58083832
 165.26946108 122.15568862 160.95808383 120.71856287  97.7245509
 136.52694611 112.09580838 156.64670659 113.53293413 156.64670659
 114.97005988 156.64670659 168.14371257  94.8502994  145.1497006
  84.79041916 142.2754491   80.47904192  61.79640719  47.4251497
  12.93413174   7.18562874 195.4491018   60.35928144 194.01197605
 178.20359281  37.36526946 159.52095808 142.2754491  137.96407186
 135.08982036 133.65269461 122.15568862 126.46706587 110.65868263
 102.03592814  96.28742515  87.66467066  81.91616766  58.92215569
  56.04790419  56.04790419  54.61077844  50.2994012   22.99401198
   8.62275449 162.39520958 146.58682635 153.77245509 148.0239521
 132.21556886 126.46706587]
[ 150.89820359  206.94610778  281.67664671  334.8502994   412.45508982
  491.49700599  599.28143713  630.89820359  672.5748503   666.82634731
  668.26347305  679.76047904  730.05988024  787.54491018  799.04191617
  799.04083207  822.03592814  767.4251497    63.23353293  744.43113772
   35.92814371  737.24550898  727.18562874  742.99292788  763.11377246
  809.10179641  777.48502994  753.05389222  744.43113772  745.86826347
  748.74251497  738.68263473  765.98693985  771.7349008   786.10778443
  799.04191617   83.35329341  136.52694611  829.22155689  707.06586826
  277.36526946  855.08982036  823.47305389  859.4011976   168.14371257
  978.68263473  607.90581777  457.00598802  915.4491018  1271.85628743
  544.67065868 1000.23952096  537.48502994  995.92814371  536.04790419
  993.05389222  538.92215569  995.92814371  564.79041916 1024.67065868
  699.88023952 1154.01197605  734.37125749 1189.94011976  770.2994012
 1230.17964072  764.5508982  1237.36526946 1245.98802395 1270.41916168
 1280.          791.85628743  788.98203593  717.1257485   783.23353293
  819.16167665  836.40447538  800.47904192 1210.05988024 1030.40832068
 1041.91616766  853.65269461  770.2994012   560.47904192  771.73652695
  560.47904192  498.68263473  699.87915542  418.20359281  720.
  712.81437126  717.1257485   686.94610778  718.56287425  751.61676647
  767.4251497   750.17909867  750.17964072  735.80838323  741.55688623
  725.74850299  744.43113772  738.68263473  768.86227545  770.29885915
  768.86227545  768.86227545  728.62167039  721.43712575  778.92215569
  794.73053892  755.92814371  776.04790419  796.16766467  787.54491018]
[198.32335329 196.88622754 194.01197605 191.13772455 192.5748503
 194.01197605 188.26347305 171.01796407 179.64071856 171.01796407
 173.89221557 159.52095808 160.95808383 156.64670659 145.1497006
 224.19161677 251.49700599 232.81437126 254.37125749 229.94011976
 232.81437126 227.06586826 231.37724551 218.44311377 222.75449102
 222.75449102 221.31736527 202.63473054 201.19760479 186.82634731
 189.7005988  168.14371257 163.83233533 143.71257485 254.37125749
 257.24550898 250.05988024 241.43712575 247.18562874 204.07185629
 248.62275449 234.25149701 212.69461078 235.68862275 218.44311377
 244.31137725 214.13173653 237.1257485  214.13173653 237.1257485
 208.38323353 238.56287425 188.26347305 215.56886228 204.07185629
 232.81437126 204.07185629 205.50898204 238.56287425 211.25748503
 240.         214.13173653 195.4491018  234.25149701 194.01197605
 194.01197605  76.16766467 176.76646707 172.45508982 158.08383234
 150.89820359 137.96407186 260.11976048 204.07185629 262.99401198
 202.63473054 248.62275449 245.74850299 181.07784431 156.64670659
 142.2754491  225.62874251 215.56886228 218.44311377 217.00598802
 212.69461078 208.38323353 211.25748503 206.94610778 198.32335329
 204.07185629 202.63473054 199.76047904 185.38922156 182.51497006
 152.33532934 149.46107784 228.50299401 215.56886228 218.44311377]
[2 1 0]

In [34]:
new_df.rename(columns={"x":"x_min","y":"y_min", "x1":"x_max", "y1":"y_max"}, inplace=True)

In [35]:
new_df

        image       x_min       y_min       x_max       y_max  labels
0    3614.jpg   17.245509   80.479042  150.898204  198.323353       2
1    3615.jpg   67.544910   80.479042  206.946108  196.886228       2
2    3616.jpg  136.526946   73.293413  281.676647  194.011976       2
3    3617.jpg  186.826347   68.982036  334.850299  191.137725       2
4    3618.jpg  258.682635   73.293413  412.455090  192.574850       2
..        ...         ...         ...         ...         ...     ...
129   949.jpg  668.264015  136.526946  776.047904  218.443114       2
130   950.jpg  639.520958  130.778443  748.742515  215.568862       2
131   951.jpg  639.520958  145.149701  750.179641  232.814371       2
132   952.jpg  678.323353  132.215569  796.167665  221.317365       2
133   953.jpg  668.264015  126.467066  787.544910  218.443114       2

[134 rows x 6 columns]

Normalizing columns

In [36]:
new_df.x_min = round(new_df.x_min/1280, 6)
new_df.y_min = round(new_df.y_min/720, 6)
new_df.x_max = round(new_df.x_max/1280, 6)
new_df.y_max = round(new_df.y_max/720, 6)

In [37]:
new_df.head()

      image     x_min     y_min     x_max     y_max  labels
0  3614.jpg  0.013473  0.111776  0.117889  0.275449       2
1  3615.jpg  0.052769  0.111776  0.161677  0.273453       2
2  3616.jpg  0.106662  0.101796  0.220060  0.269461       2
3  3617.jpg  0.145958  0.095808  0.261602  0.265469       2
4  3618.jpg  0.202096  0.101796  0.322231  0.267465       2

Creating Training, Validation, and Testing dataset

In [38]:
dup_new_df = new_df[["image", "labels"]].copy()

In [39]:
dup_new_df = dup_new_df.drop_duplicates()

In [40]:
X=dup_new_df["image"]
y=dup_new_df["labels"]

Stratifying Sampling

In [41]:
X_train_val, X_test, y_train_val, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

Checking if stratified sampling distributed each class properly

In [42]:
redundant_item_idx = np.nonzero(np.in1d(X_test.values, X_train_val.values))[0]
redundant_item_idx

array([ 5,  9, 12, 16, 17, 23])

In [43]:
X_test = np.delete(X_test, redundant_item_idx)
y_test = np.delete(y_test, redundant_item_idx)
X_test = pd.Series(X_test)
y_test = pd.Series(y_test)

In [44]:
X_train, X_val, y_train, y_val = train_test_split(X_train_val, y_train_val, test_size=0.2, random_state=42, stratify=y_train_val)

In [45]:
redundant_item_idx = np.nonzero(np.in1d(X_val, X_train))[0]
redundant_item_idx
X_val = np.delete(X_val, redundant_item_idx)
X_val = pd.Series(X_val)
y_val = np.delete(y_val, redundant_item_idx)
y_val = pd.Series(y_val)

make test, validation, and test directories in your "/scratch/sshrestha8/Workshop/Day4" folder
making train, validation, test sub files and directories, we are going to transfer data in those directories

In [46]:
parent_dir = "/scratch/sshrestha8/Workshop/Day4/data/"
source_dir = "/scratch/sshrestha8/Workshop/Day4/data/all_images"
all_files = os.listdir(source_dir)

In [47]:
def get_train_val_test_files(source_dir, destination_dir,  all_files, operating_dir):
    for image in operating_dir:
        if image in all_files:
            shutil.copy(os.path.join(source_dir,image) , destination_dir)

copy train, val, test images to respective directories

In [48]:
train_images_folder = os.path.join(parent_dir, "train")
if not os.path.isdir(train_images_folder):
    print("os.path.isdir(train_images_folder)", os.path.isdir(train_images_folder))
    print("making")
    os.mkdir(train_images_folder)
validation_images_folder = os.path.join(parent_dir, "validation")
if not os.path.isdir(validation_images_folder):
    os.mkdir(validation_images_folder)
test_images_folder = os.path.join(parent_dir, "test")
if not os.path.isdir(test_images_folder):
    os.mkdir(test_images_folder)

os.path.isdir(train_images_folder) False
making

In [49]:
train_images_folder

'/scratch/sshrestha8/Workshop/Day4/data/train'

In [50]:
train_destination_dir = "/scratch/sshrestha8/Workshop/Day4/data/train"
get_train_val_test_files(source_dir, train_destination_dir,  all_files, operating_dir=X_train)
train_images = os.listdir(train_destination_dir)

In [51]:
val_destination_dir = "/scratch/sshrestha8/Workshop/Day4/data/validation/"
get_train_val_test_files(source_dir, val_destination_dir,  all_files, operating_dir=X_val)
val_images = os.listdir(val_destination_dir)

In [52]:
test_destination_dir = "/scratch/sshrestha8/Workshop/Day4/data/test/"
get_train_val_test_files(source_dir, test_destination_dir,  all_files, operating_dir=X_test)
test_images = os.listdir(test_destination_dir)

In [53]:
len(train_images), len(val_images), len(test_images)

(71, 17, 19)

making train, val, and test csv filems

In [54]:
new_df.head()

      image     x_min     y_min     x_max     y_max  labels
0  3614.jpg  0.013473  0.111776  0.117889  0.275449       2
1  3615.jpg  0.052769  0.111776  0.161677  0.273453       2
2  3616.jpg  0.106662  0.101796  0.220060  0.269461       2
3  3617.jpg  0.145958  0.095808  0.261602  0.265469       2
4  3618.jpg  0.202096  0.101796  0.322231  0.267465       2

In [55]:
new_df = new_df.rename(columns={"image":"ImageID", "x_min":"XMin", "y_min":"YMin", "x_max": "XMax", "y_max":"YMax"})

In [56]:
new_df.head()

    ImageID      XMin      YMin      XMax      YMax  labels
0  3614.jpg  0.013473  0.111776  0.117889  0.275449       2
1  3615.jpg  0.052769  0.111776  0.161677  0.273453       2
2  3616.jpg  0.106662  0.101796  0.220060  0.269461       2
3  3617.jpg  0.145958  0.095808  0.261602  0.265469       2
4  3618.jpg  0.202096  0.101796  0.322231  0.267465       2

In [57]:
def get_particular_csv(df_sub, new_df):
    df_sub = df_sub.rename(columns={"image":"ImageID"})
    sub_annotations_bbox = pd.merge(new_df, df_sub, on=['ImageID', 'labels'], how='inner')
    sub_annotations_bbox = sub_annotations_bbox.drop_duplicates()
    sub_annotations_bbox["labels"] = sub_annotations_bbox["labels"].replace(code_to_string)
    sub_annotations_bbox = sub_annotations_bbox.rename(columns={"labels":"ClassName"})
    return sub_annotations_bbox

In [58]:
df_train = pd.concat([X_train, y_train], axis=1)
print(df_train.shape)
sub_train_annotations_bbox = get_particular_csv(df_train, new_df)
print("after merge")
print(sub_train_annotations_bbox.shape)

(82, 2)
after merge
(85, 6)

In [59]:
df_val = pd.concat([X_val, y_val], axis=1)
df_val.columns=("ImageID", "labels")
print(df_val.shape)
sub_validation_annotations_bbox = get_particular_csv(df_val, new_df)
print("after merge")
print(sub_validation_annotations_bbox.shape)

(18, 2)
after merge
(20, 6)

In [60]:
df_test = pd.concat([X_test, y_test], axis=1)
df_test.columns=("ImageID", "labels")
print(df_test.shape)
sub_test_annotations_bbox = get_particular_csv(df_test, new_df)
print("after merge")
print(sub_test_annotations_bbox.shape)

(20, 2)
after merge
(20, 6)

In [61]:
sub_train_annotations_bbox

     ImageID      XMin      YMin      XMax      YMax ClassName
0   3615.jpg  0.052769  0.111776  0.161677  0.273453      Stop
1   3617.jpg  0.145958  0.095808  0.261602  0.265469      Stop
2   3619.jpg  0.260479  0.091816  0.383982  0.265469      Stop
3   3620.jpg  0.336826  0.095808  0.468189  0.269461      Stop
4   3623.jpg  0.382859  0.067864  0.520958  0.249501      Stop
..       ...       ...       ...       ...       ...       ...
80   947.jpg  0.542290  0.213573  0.620883  0.321357      Stop
81   948.jpg  0.511976  0.205589  0.590569  0.317365      Stop
82   949.jpg  0.522081  0.189621  0.606287  0.303393      Stop
83   950.jpg  0.499626  0.181637  0.584955  0.299401      Stop
84   951.jpg  0.499626  0.201597  0.586078  0.323353      Stop

[85 rows x 6 columns]

In [62]:
sub_train_annotations_bbox.isna().sum()

ImageID      0
XMin         0
YMin         0
XMax         0
YMax         0
ClassName    0
dtype: int64

In [63]:
sub_validation_annotations_bbox.isna().sum()

ImageID      0
XMin         0
YMin         0
XMax         0
YMax         0
ClassName    0
dtype: int64

In [64]:
sub_test_annotations_bbox.isna().sum()

ImageID      0
XMin         0
YMin         0
XMax         0
YMax         0
ClassName    0
dtype: int64

In [65]:
sub_train_annotations_bbox.to_csv("/scratch/sshrestha8/Workshop/Day4/data/sub-train-annotations-bbox.csv", index=False)

In [66]:
sub_validation_annotations_bbox.to_csv("/scratch/sshrestha8/Workshop/Day4/data/sub-validation-annotations-bbox.csv", index=False)

In [67]:
sub_test_annotations_bbox.to_csv("/scratch/sshrestha8/Workshop/Day4/data/sub-test-annotations-bbox.csv", index=False)

In [68]:
train_dir = "/scratch/sshrestha8/Workshop/Day4/data/train"
validation_dir = "/scratch/sshrestha8/Workshop/Day4/data/validation"
test_dir = "/scratch/sshrestha8/Workshop/Day4/data/test"

In [69]:
train_dir_list = os.listdir(train_dir)
validation_dir_list = os.listdir(validation_dir)
test_dir_list = os.listdir(test_dir)

In [70]:
def check_common(a_list, b_list):
    common_items = [i for i in a_list if i in b_list]
    return common_items

In [71]:
check_common(train_dir_list, validation_dir_list)

[]

In [72]:
check_common(train_dir_list, test_dir_list)

[]

In [73]:
for column in sub_test_annotations_bbox.columns:
    print(sub_test_annotations_bbox[column].unique())

['3621.jpg' '3629.jpg' '3630.jpg' '3631.jpg' '3749.jpg' '3760.jpg'
 '3772.jpg' '3779.jpg' '3795.jpg' '678.jpg' '694.jpg' '700.jpg' '710.jpg'
 '771.jpg' '779.jpg' '790.jpg' '813.jpg' '932.jpg' '952.jpg']
[0.360404 0.462575 0.469311 0.508608 0.549027 0.51759  0.477171 0.47268
 0.499626 0.947605 0.48503  0.486153 0.446856 0.460329 0.398578 0.489521
 0.52994 ]
[0.083832 0.023952 0.017964 0.       0.227545 0.207585 0.181637 0.137725
 0.08982  0.131737 0.201597 0.085828 0.153693 0.141717 0.06986  0.225549
 0.183633]
[0.492889 0.615269 0.624251 0.575973 0.632111 0.60741  0.584955 0.602918
 0.992515 0.63997  0.625374 0.57485  0.581587 0.599551 0.566991 0.563623
 0.622006]
[0.261477 0.221557 0.223553 0.217565 0.319361 0.321357 0.303393 0.281437
 0.263473 0.271457 0.325349 0.245509 0.219561 0.191617 0.289421 0.283433
 0.253493 0.207585 0.307385]
['Stop' 'Left' 'Right']

In [74]:
for column in sub_validation_annotations_bbox.columns:
    print(sub_validation_annotations_bbox[column].unique())

['3614.jpg' '3616.jpg' '3618.jpg' '3622.jpg' '3748.jpg' '3750.jpg'
 '3777.jpg' '657.jpg' '660.jpg' '708.jpg' '763.jpg' '770.jpg' '778.jpg'
 '780.jpg' '781.jpg' '812.jpg' '953.jpg']
[0.013473 0.106662 0.202096 0.386228 0.51422  0.       0.49738  0.481662
 0.625374 0.26834  0.952096 0.678144 0.489521 0.480539 0.491766 0.463698
 0.478293 0.460329 0.422156 0.522081]
[0.111776 0.101796 0.053892 0.233533 0.281437 0.227545 0.169661 0.279441
 0.171657 0.277445 0.00998  0.191617 0.175649 0.135729 0.133733 0.121756
 0.011976]
[0.117889 0.22006  0.322231 0.525449 0.581587 0.028069 0.568114 0.58271
 0.671407 0.357036 0.993638 0.715195 0.653441 0.560254 0.586078 0.566991
 0.577096 0.615269]
[0.275449 0.269461 0.267465 0.237525 0.323353 0.353293 0.319361 0.307385
 0.347305 0.295409 0.349301 0.327345 0.209581 0.299401 0.303393 0.281437
 0.277445 0.211577]
['Stop' 'Left' 'Right']

In [75]:
for column in sub_train_annotations_bbox.columns:
    print(sub_train_annotations_bbox[column].unique())

['3615.jpg' '3617.jpg' '3619.jpg' '3620.jpg' '3623.jpg' '3624.jpg'
 '3627.jpg' '3628.jpg' '3632.jpg' '3747.jpg' '3751.jpg' '3752.jpg'
 '3774.jpg' '3775.jpg' '3783.jpg' '3793.jpg' '3798.jpg' '3801.jpg'
 '3803.jpg' '3832.jpg' '3840.jpg' '3847.jpg' '3865.jpg' '3866.jpg'
 '658.jpg' '661.jpg' '662.jpg' '667.jpg' '668.jpg' '669.jpg' '670.jpg'
 '673.jpg' '674.jpg' '675.jpg' '676.jpg' '680.jpg' '682.jpg' '692.jpg'
 '697.jpg' '734.jpg' '735.jpg' '737.jpg' '744.jpg' '751.jpg' '754.jpg'
 '757.jpg' '762.jpg' '764.jpg' '765.jpg' '766.jpg' '767.jpg' '769.jpg'
 '772.jpg' '776.jpg' '782.jpg' '783.jpg' '784.jpg' '785.jpg' '786.jpg'
 '788.jpg' '810.jpg' '811.jpg' '931.jpg' '933.jpg' '945.jpg' '946.jpg'
 '947.jpg' '948.jpg' '949.jpg' '950.jpg' '951.jpg']
[0.052769 0.145958 0.260479 0.336826 0.382859 0.385105 0.394087 0.427769
 0.479416 0.533308 0.01235  0.511977 0.524326 0.494012 0.48503  0.463697
 0.474925 0.463698 0.460329 0.438997 0.007859 0.050524 0.518713 0.177395
 0.605165 0.578219 0.046034 0.721931 0.333459 0.327846 0.739896 0.326722
 0.348054 0.762351 0.451347 0.864521 0.891467 0.499626 0.92066  0.49738
 0.927396 0.934133 0.492889 0.956587 0.498503 0.496257 0.553518 0.478293
 0.888099 0.675898 0.756737 0.535554 0.536677 0.537799 0.502994 0.24476
 0.171781 0.483907 0.477171 0.455839 0.506362 0.514223 0.491766 0.480539
 0.441243 0.437874 0.46482  0.461452 0.449102 0.423278 0.489521 0.531063
 0.54229  0.511976 0.522081]
[0.111776 0.095808 0.091816 0.067864 0.055888 0.051896 0.       0.221557
 0.275449 0.227545 0.217565 0.179641 0.177645 0.127745 0.097804 0.041916
 0.013972 0.259481 0.289421 0.269461 0.247505 0.251497 0.159681 0.273453
 0.171657 0.229541 0.169661 0.223553 0.135729 0.189621 0.155689 0.207585
 0.157685 0.233533 0.117764 0.197605 0.065868 0.271457 0.083832 0.085828
 0.187625 0.185629 0.113772 0.081836 0.077844 0.075848 0.031936 0.225549
 0.203593 0.213573 0.205589 0.181637 0.201597]
[0.161677 0.261602 0.383982 0.468189 0.520958 0.522081 0.531063 0.570359
 0.642216 0.599551 0.049401 0.580463 0.596183 0.588323 0.581587 0.577096
 0.598427 0.614147 0.624251 0.06512  0.106662 0.552395 0.216692 0.668039
 0.643338 0.131362 0.764596 0.425524 0.41991  0.778069 0.418787 0.441243
 0.800524 0.546781 0.901572 0.929641 0.601796 0.961078 0.597305 0.966692
 0.973428 0.60741  1.       0.618638 0.616392 0.560254 0.611901 0.945359
 0.805007 0.813997 0.666916 0.602919 0.389596 0.326722 0.5625   0.556886
 0.536677 0.561377 0.587201 0.586077 0.575973 0.579341 0.600674 0.569236
 0.57485  0.608533 0.620883 0.590569 0.606287 0.584955 0.586078]
[0.273453 0.265469 0.269461 0.249501 0.237525 0.241517 0.201597 0.311377
 0.349301 0.323353 0.315369 0.309381 0.279441 0.259481 0.233533 0.227545
 0.199601 0.353293 0.357285 0.347305 0.335329 0.343313 0.283433 0.345309
 0.303393 0.297405 0.329341 0.331337 0.261477 0.299401 0.285429 0.293413
 0.333333 0.271457 0.325349 0.105788 0.239521 0.361277 0.365269 0.281437
 0.341317 0.217565 0.197605 0.313373 0.301397 0.295409 0.287425 0.257485
 0.223553 0.221557 0.321357 0.319361 0.317365]
['Stop' 'Left' 'Right']